<div class='incoming-events__wrapper {{settings.plugin_outlet}}'>
    <div class='incoming-events__container'>
        <div class='incoming-events__title'>
            กิจกรรมเร็วๆ นี้
        </div>
        <div class='incoming-events__list'>
            
        </div>

    </div>
</div>