<div class='incoming-events__wrapper {{settings.plugin_outlet}}'>
    <div class='incoming-events__container'>
        <div class='incoming-events__title'>
            กิจกรรมเร็วๆ นี้
        </div>
        <div class='incoming-events__list'>
            <div class="incoming-events__listitem">
                <div>12 ก.ค 68</div>
                <div>ติวอินเวสเตอร์ Vol.8 Money มาแน่</div>
            </div>
            <div class="incoming-events__listitem">
                <div>28 มิ.ย 68</div>
                <div>Workshop 2025 @ชลบุรี</div>
            </div>
        </div>

    </div>
</div>