.incoming-events__wrapper {
    background-color: #19245c;
    padding: 5px;
    margin-bottom: 10px;
}

.incoming-events__title {  
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #19245c;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.incoming-events__container {
    margin-bottom: 0.5em;
}

.incoming-events__list {
  display: flex;
  flex-direction: column;
}

.incoming-events__listitem {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: start; /* Center vertically */
  padding: 3px;
  gap: 5px;
  border-radius: 10px;
  border-color: #19245c;
}

.incoming-events__listitem__date{
  display: flex;
  flex-direction: column;
  padding: 3px;
  min-width: 50px;
  justify-content:space-between;
  background-color: cornflowerblue;
  text-align: center;
}

.incoming-events__listitem__date1{
  font-size: larger;
  color: whitesmoke
}

.incoming-events__listitem__date2{
  font-size: normal;
}

.incoming-events__listitem__title{
  flex-grow: 1;
  padding: 3px;
  vertical-align: top;
}